html {
    width: 100%;
}
body {
    width: 100%;
    margin: auto;
}
.bk-widget {
  overflow-y: auto;
}
a:link {
    font-weight: bold;
    text-decoration: none;
    color: #0d8ba1;
}
a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #1a5952;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #9685BA;
}
