<html>
<head>
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>

</head>
<body>
<H1>mgstat data</H1>

<form action="/mgstat" method="post">
<select multiple name="column_name[]" size="30">
	{% for column in columns %}
			<option value="{{ column }}">{{ column }}</option>
	{% endfor %}
</select>
<input type="submit" value="Go!">
</form>

{{ script|safe }}
{{ div|safe }}

</body>
</html>
